:root {
  --lvl-4: #00204a;
  --lvl-3: #005792;
  --lvl-2: #00bbf0;
  --lvl-1: #d9faff;
}

* {
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif !important;
  background-color: #eee !important;
  color: black !important;
}

a {
  color: rgba(255, 255, 255, 0.6) !important;
  text-decoration: none !important;
  transition: color 0.5s ease-out;
}

a:hover {
  color: #fff !important;
}

.hero-photo-div {
  background-color: #111;
  padding-top: 10vh;
}

.hero-photo {
  width: 20vw;
  height: auto;
  border-radius: 5px;
}

.navbar {
  color: white;
  background-color: #111;
  padding: 10vh 10vw 10vh 10vw !important;
}

.navbar a {
  font-weight: 400;
  font-size: 18px;
}

.card {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}
